// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

.conctact-form {
    background: #161c1569;
    box-shadow: 0 8px 0 0 rgb(255 21 21 / 50%), 0 -8px 0 0 rgb(255 21 21 / 50%);
}
