.conctact-form {
    background: #161c1569;
    box-shadow: 0 8px 0 0 rgb(255 21 21 / 50%), 0 -8px 0 0 rgb(255 21 21 / 50%);
}
.conctact-form .form-control .form-control {
    color: whitesmoke !important;
}
